page-select-qta {
    background-color: rgba(0, 0, 0, 0.5);
    
    ion-content{
        .scroll-content {
            border-radius: 20px;
        }
        ion-row {
            height: 100%;
            padding: 10px;
            ion-col {
                ion-label {
                    margin: unset !important;
                }
                ion-icon {
                    //font-size: 5vw;
                    color: color($colors, 'secondary');
                }
            }
            [col-4] {
                text-align: center;
                margin: auto;
                font-size: 15vh;
            }
        }
    }
    ion-header{
        border-radius: 20px;
        .toolbar-title{
            overflow: visible;
        }
    }
}
