page-riepilogo {
    .back-button {
        display: none !important;
    }
    .item-tot {
        position: fixed;
        bottom:0;
    }
    ion-row {
        ion-col{
            button {
                margin: unset !important;
            }
        }
    }
}
