<ion-header>
  <ion-navbar color="dark">
    <ion-buttons start>
      <button ion-button icon-only><ion-icon name="arrow-dropleft"></ion-icon></button>
    </ion-buttons>
    <ion-title> MENU </ion-title>
    <ion-buttons end>
      <button ion-button icon-only><ion-icon name="list"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding color="primary">
  <ion-content padding color="primary">
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let item of prodotti">
        <ion-card>
          <ion-card-content (click)="openSelectOption(item)">
          {{item.Descrizione}} <br/> {{item.Prezzo}}€
          <br/><br/>
          <img src="http://mybar201718.altervista.org/imgs/{{item.Img}}"/>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="bottom-category-bar">
      <ion-label>CATEGORIA</ion-label>
      <ion-select #C (ionChange)="retrieve_prodotti(C.value)" interface="action-sheet">
          <ion-option *ngFor="let item of categorie; let i = index" [value]="item.id" selected="{{ (i==0)? true : false}}">{{ item.Descrizione }}</ion-option>
      </ion-select>
    </ion-item>
</ion-content>
