page-menu {
    .bottom-category-bar{
        position: fixed !important;
        bottom: 0vh;
        left:0vh;
    }
    ion-card{
        height:100%;
    }
    ion-card-content{
        margin-top: 1vh;
    }
}
