<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only><ion-icon name="arrow-dropleft"></ion-icon></button>
    </ion-buttons>
    <ion-title> MENU </ion-title>
    <ion-buttons end>
      <button ion-button icon-only><ion-icon name="list"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let item of prodotti">
        <ion-card>
          <img src={{item.Img}}/>
          <ion-card-content>
            <ion-card-title>
              {{item.Descrizione}}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="bottom-category-bar">
      <ion-label>CATEGORIA</ion-label>
      <ion-select #C (ionChange)="retrieve_prodotti(C.value)">
          <ion-option *ngFor="let item of categorie; let i = index" [value]="item.id" selected="{{ (i==0)? true : false}}">{{ item.Descrizione }}</ion-option>
      </ion-select>
    </ion-item>
</ion-content>
